<div id="servers" class="container panel panel-default">
  <div class="row">
    <div class="col-md-6">
      <h1>Servers List</h1>
    </div>
    <div class="col-md-6 text-right">
      <a ui-sref="main">X</a>
    </div>
    <button class="btn btn-sm btn-primary" ng-click="list.retreive()">REFRESH</button>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="" data-offset-top="375" bs-affix> <!-- afflix trigger -->
        <h2>Filters</h2>
        <div class="panel-group bs-sidebar hidden-print" role="tablist" aria-multiselectable="true" role="complementary" bs-collapse>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <a bs-collapse-toggle>
                  Maps
                </a>
              </h4>
            </div>
            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
              <div class="panel-body">
                <div class="col-md-3" ng-repeat="(map,props) in refined.maps">
                  <img ng-src="img/maps_thumb/{{map}}.png" err-src="img/maps_thumb/no_image.png" class="img-responsive" />
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <a bs-collapse-toggle>
                  Gamemodes
                </a>
              </h4>
            </div>
            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
              <div class="panel-body">
                <div class="col-md-12" ng-repeat="(short,label) in refined.gameModes">
                  {{label}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <td>

            </td>
            <td>
              Server
            </td>
            <td>
              PLAYERS
            </td>
          </tr>
        <thead>
        <tr ng-repeat="server in list.servers" ng-click="list.currentServer = server">
          <td class="col-md-2">
            <img class="img-responsive" ng-src="img/maps_thumb/{{server.map}}.png" err-src="img/maps_thumb/no_image.png" />
          </td>
          <td>
            {{server.name}}<br>
            {{getGamemodeName(server.map)}} on {{getMapName(server.map)}}
          </td>
          <td>
            {{server.players}}/{{server.max_players}} <span ng-if="server.bots > 0">({{server.bots}})</span>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <!--
  <div class="col-md-3">
    <div class="col-md-12 current-server-container">
      <img class="map-thumb" ng-src="img/maps_thumb/{{list.currentServer.map}}.png" err-src="img/maps_thumb/no_image.png" />
      <img class="gamemode-icon" ng-src="img/gamemode_icons/{{getGamemodeName(list.currentServer.map, true)}}.png" err-src="img/gamemode_icons/unknow.png" />
      <div class="current-server-infos">
        <h1>{{list.currentServer.name}}</h1>
      </div>
    </div>
    <div class="col-md-12">
        <input type="checkbox" class="form-control" ng-model="filters.empty"> empty
        <input type="checkbox" class="form-control" ng-model="filters.secure"> Secure
        <input type="checkbox" class="form-control" ng-model="filters.password"> Password protected
        <input type="checkbox" class="form-control" ng-model="filters.full"> Full
    </div>
  </div>
-->
</div>
