@import 'variables';
@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';

.btn{
  border-width: 0px 0px 2px 0px;
}
.btn:active{
  margin-top: 3px;
  border-bottom-width: 0px;
}
