@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';


//Refined overload

@font-face {
    font-family: tf;
    src: url(../fonts/tf2build.ttf);
}

body{
	background-color: transparent;
	font-family: tf;
}

#bg{
	position: fixed;
	z-index: -1;
	left: 0;
	bottom: 0;
	width: 100%;
}

.nav-frame{	//main menu frame
	background-color: #35312D;
	position: absolute;
	max-height: 90vh;
	z-index: 2;
	overflow: auto;
}

.navbar{
	background-color: transparent;
	border: 0;
}

.btn{
	text-align: left;
	border: 0;
	font-size: 16px;
	padding: 5px;
}

.btn-primary{
	background-image: linear-gradient(to bottom, #F5ECD9, #9D8D6B);
	color:#2A2725;
}

.panel-default, .panel-heading{
	background-color: #393532;
	color:#ECE4CC;
	border: 0;
	span{
		color:#ECE4CC;
		font-size: 16px;
	}
	.btn-primary{
		margin-top: 10px;
	}
	.panel-body{
		padding: 10px;
	}
}

.game-modes-list{
  .game-mode{
    .game-mode-thumb{
      position: relative;
      overflow: hidden;
      height: 100px;
      img{
        position: absolute;
        width: 100%;
      }
      .game-mode-infos{
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        text-align: right;
        margin: 10px;
        h1{
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
}


/*
//					SPLASH SCREEN
*/

#splash{
	background-color: #272425;
	color:#ffffff;
	text-align: center;

	.logo{
		margin:auto;
		margin-top: 75px;
		width: 100px;
		height:100px;
		border-radius: 100px;
		animation-name: splashLogoAnim;
    animation-duration: 1.3s;
		animation-iteration-count: infinite;
	}

	#splash-text{
		text-align: center;
		font-family: Arial;
		position: fixed;
		bottom: 20px;
		left: 0px;
		width: 100%;
		font-size: 20px;
	}

	#splash-version{
		text-align: right;
		font-family: Arial;
		position: fixed;
		top: 0px;
		right: 0px;
		padding: 5px;
		margin:0px;
		font-size: 10px;
		opacity: 0.5;
	}
}

@keyframes splashLogoAnim {
    100% {
			transform: rotateZ(360deg);
		}
}
