
<div class="server-browser">
  <table class="panel servers-list">
    <thead>
      <tr>
        <td>
          <button class="btn" ng-click="list.sortBy('players')">PLAYERS</button>
        </td>
        <td>
          <button class="btn" ng-click="list.sortBy('name')">SERVER</button>
        </td>
        <td>
          <button class="btn" ng-click="list.sortBy('map')">MAPS</button>
        </td>
        <td>
          <button class="btn">GAMEMODE</button>
        </td>
        <td>
          <button class="btn">PING</button>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr class="server-row" ng-repeat="server in list.servers | orderBy:list.order.propertyName:list.order.reverse" ng-click="list.currentServer = server">
        <td>
          {{server.players}}/{{server.max_players}} <span ng-if="server.bots > 0">({{server.bots}})</span>
        </td>
        <td>
          {{server.name}}
        </td>
        <td>
          {{server.map.label}}
        </td>
        <td>
          {{refined.gameModes[server.gameMode].label}}
        </td>
        <td>
          35ms
        </td>
      </tr>
      <tr>
        <td colspan="3" class="text-center" ng-show="list.retreiving">
          <h4>Retreiving servers...</h4>
        </td>
        <td colspan="3" class="text-center" ng-hide="list.retreiving">
          <button class="btn btn-primary" ng-click="list.retreiveMore()">Load more servers</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="filter-selector" ng-show="currentFilterPopup != null">
    <div class="content"  ng-include="'views/servers/gamemodes.html'" ng-show="currentFilterPopup == 'gameMode'"></div>
  </div>

  <div class="panel server-details" ng-if="list.currentServer">
    <div class="panel-header">
      <h1>SERVER DETAILS</h1>
    </div>
    <div class="server-thumb">
      <img ng-src="img/maps_thumbs/{{list.currentServer.map.fileName}}.png" err-src="img/maps_thumbs/no_image.png" />
      <div class="details">
        {{refined.gameModes[list.currentServer.gameMode].label}} on {{list.currentServer.map.label}}
      </div>
    </div>
    <table class="server-infos">
      <tr>
        <td width="50%">Players</td>
        <td>{{server.players}}/{{server.max_players}} <span ng-if="server.bots > 0">({{server.bots}})</span></td>
      </tr>
      <tr>
        <td>Ping</td>
        <td>50ms</td>
      </tr>
    </table>
    <div class="btn">
      JOIN
    </div>
  </div>

</div>
