<table class="table servers-list">
  <thead>
    <tr>
      <td ng-click="list.sortBy('map')">
        Map
      </td>
      <td ng-click="list.sortBy('name')">
        Server
      </td>
      <td>
        Options
      </td>
      <td ng-click="list.sortBy('players')">
        PLAYERS
      </td>
    </tr>
  <thead>
  <tr class="server-row" ng-repeat="server in list.servers | orderBy:list.order.propertyName:list.order.reverse">
    <td class="col-md-2" class="server-map">
      <img class="img-responsive" ng-src="img/maps_thumbs/{{server.map.fileName}}.png" err-src="img/maps_thumbs/no_image.png" />
    </td>
    <td>
      {{server.name}}<br>

      {{refined.gameModes[server.gameMode].label}} on {{server.map.label}}
    </td>
    <td>
      <div class="btn btn-primary" ng-click="ipc.emit('launchGame', {addr: server.addr})">
        JOIN
      </div>
    </td>
    <td>
      {{server.players}}/{{server.max_players}} <span ng-if="server.bots > 0">({{server.bots}})</span>
    </td>
  </tr>
  <tr>
    <td colspan="3" class="text-center" ng-show="list.retreiving">
      <h4>Retreiving servers...</h4>
    </td>
    <td colspan="3" class="text-center" ng-hide="list.retreiving">
      <button class="btn btn-primary" ng-click="list.retreiveMore()">Load more servers</button>
    </td>
  </tr>
</table>
