<div class="jumbotron" style="background-image:url('img/gamemodes_thumbs/no_image.png')">
  <h2>Gamemodes</h2>
</div>
<div class="game-modes-list" ng-hide="currentGameMode">
  <div class="row game-mode" ng-repeat="gameMode in refined.gameModes" ng-click="setCurrentGameMode(gameMode)">
    <div class="col-md-6 game-mode-thumb">
      <img ng-src="img/gamemodes_thumbs/{{gameMode.label}}.png" err-src="img/gamemodes_thumbs/no_image.png" />
      <div class="game-mode-infos">
        <h1>{{gameMode.label}}</h1>
        <input type="checkbox" ng-checked="!gameMode.exclude" ng-click="toggleGameModeFromFilter(gameMode.name)">
      </div>
    </div>
    <div class="col-md-6 game-mode-stats">
      <p>{{gameMode.description}}</p>
      <p>{{gameMode.maps.length}} map(s) found</p>
    </div>
  </div>
</div>
